@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
    min-height: 100vh;
    background-color: #E6E6E9;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: right;
    align-items: center;
    z-index: 100;
  }
  
  .navbar a {
    position: relative;
    font-size: 18px;
    color: #3C4F76;
    font-weight: 500;
    text-decoration: none;
    margin-left: 25px;
    white-space: nowrap; /* Prevent text from wrapping */
  }
  
  /* Keep your existing hover effect styles */
  .navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 2px;
    background: #3C4F76;
    transition: .3s;
  }
  
  .navbar a:hover::before {
    width: 100%;
  }
  
  /* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
  @media screen and (max-width: 400px) {
    .navbar a {
      font-size: 14px; /* Reduce font size */
      margin-left: 10px; /* Reduce spacing between items */
    }
    
    /* If needed, you can adjust the container of the navbar */
    .navbar {
      display: flex;
      justify-content: space-between;
      padding: 0 10px; /* Add some padding on the sides */
    }
  }

  .container {
    max-width: 850px;
    margin: 40px auto 0;
    padding: 20px ;
    text-align: center;
  }
  h1 {
    font-size: 50px;
    color: #333;
  }
  .project {
    margin-top: 40px;
    text-align: left;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .project-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  .project-content {
    margin-top: 10px;
    font-size: 18px;
    color: #666;
  }
  .project-date {
    font-size: 14px;
    color: #999;
    text-align: right;
    margin-top: 10px;
  }
  
/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
@media screen and (max-width: 600px) {
    .topnav a, .topnav-right {
      float: none;
      display: block;
    }
  
    .topnav-centered a {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
    }
  }