@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
    min-height: 100vh;
    background-color: #E6E6E9;
}
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: right;
    align-items: center;
    z-index: 100;
  }
  .navbar a {
    position: relative;
    font-size: 18px;
    color: #3C4F76;
    font-weight: 500;
    text-decoration: none;
    margin-left: 25px;
  }
  .navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 2px;
    background: #3C4F76;
    transition: .3s;
  }
  .navbar a:hover::before {
    width: 100%;
  }
  .contact-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }
  .contact-left-title {
    font-weight: 600;
    color: #3C4F76;
    font-size: 40px;
    margin-bottom: 5px;
  }
.contact-left-title hr {
  border: none;
  width: 120px;
  height: 5px;
  background-color: #3C4F76;
  border-radius: 10px;
  margin-bottom: 20px;
}
.contact-inputs {
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  color: black;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.contact-left textarea {
  height: 140px;
  padding-top: 15px;
  border-radius: 20px;
}
.contact-inputs:focus{
  border: 2px solid #3C4F76;
}
.contact-inputs::placeholder{
  color: #9999A1;
}
.contact-left button{
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 16px;
  color: #E6E6E9;
  gap: 10px;
  border: none;
  border-radius: 50px;
  background-color: #3C4F76;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  
}
/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
@media screen and (max-width: 600px) {
    .topnav a, .topnav-right {
      float: none;
      display: block;
    }
  
    .topnav-centered a {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
    }
  }